nav ul{
    list-style: none;
}
nav ul a{
    text-decoration: none;
}
.nav_row{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}